.App{
  font-family: 'Nunito', sans-serif;
}

.Home{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.Home .left{
  float: left;
  position: absolute;
  left:1%;
}
.Home .right{
  float: right;
  position: absolute;
  right:1%;
}

.main p{
  transition: .4s;
}
.main p:hover{
  text-shadow: -3px 0px 18px #F8DE08;
}

a:hover{
  color: red;
}

.btn{
  background:#212022;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  color:#CACACA;
  transition: .4s;
}
.homebtn:hover{
  background-color: #F8DE08;
  color:#212022;
  border-color: #212022;
  transform: scale(1.2);
  box-shadow:0px 0px 50px #F8DE08;
}

@media only screen and (max-width:740px){ /*740px and beloww */
  .Home{
    padding-top:200px;
  }
  .navbar-nav a{
    margin:0px 8px;
    font-size: 14px;
  }
}

@media only screen and (min-width:740px){ /*740px and above */
  .Home{
    padding-top:200px;
  }
  .navbar-nav a{
    margin:0px 10px;
    font-size: 16px;
  }
}

@media only screen and (min-width:990px){ /*990 and above */
  .Home{
    padding-top:200px;
  }
  .navbar-nav a{
    margin:0px 10px;
    font-size: 16px;
  }
}

@media only screen and (min-width:1200px){ /*1200 and above */
  .Home{
    padding-top:200px;
  }
  .navbar-nav a{
    margin:0px 12px;
    font-size: 18px;
  }
}

@media only screen and (min-width:1300px){ /*1300 and above */
  .Home{
    padding-top:200px;
  }
  .navbar-nav a{
    margin:0px 14px;
    font-size: 20px;
  }
}


/* @media only screen and (min-width:768px){ /*768px and above */
  /*.Home{
    padding-top:200px;
  }
  .navbar-nav a{
    margin:0px 25px;
    font-size: 20px;
  }
} */

.AboutMe h2{
  font-size: 2.5rem;
  font-family: arial;
  font-weight: normal;
}
.AboutMe p{
  color: #2B2B2B;
  font-size: 1.2rem;
  font-weight:100;
}
.AboutMe a{
  color: #F8DE08;
  transition: all .25s ease-in-out;
  font-family:courier;
}
.AboutMe a:hover{
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}


input:focus,textarea:focus{
  outline:0px;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.submitbtn:hover{
  background-color: #F8DE08;
  color:#212022;
  border-color: #212022;
  box-shadow:0px 0px 20px #F8DE08;
}
