nav{
  height:70px;
  align-items: center;
  background: #212022;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  letter-spacing: 1.5px;
}
nav a{
  color:#212022;
  transition: .4s ease;
  font-size: 10px;
}
nav a:hover{
  color:#FFFBF4;
  transform: scale(0.8);
  text-decoration-color: #FFFBF4;
}
nav a.active{
  color:#FFFBF4;
  transform: scale(1.2);
  font-weight: bold;
}
.bars{
  transition: .3s ease;
}
.bars:hover{
  transform: scale(1.4);
}


/*NavIcon*/
.NavIcon{
  position: relative;
  display:inline-block;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 1.8rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: 1px solid #212022;
}
.NavIcon:hover{
  transform: scale(1.2);
}
.NavIcon:hover>.burgerline{
}
.burgerline{
  width:2rem;
  height:.15rem;
  background: white;
  border-radius: 10px;
  transition: all .3s;
  margin-bottom: .6rem;
  cursor: pointer;
}
