.ContactMe{
  border: 1.5px solid #08FDD8;
  height:50px;
  background:#292F38;
  color: #CACACA;
  letter-spacing: 16px;
  font-family:'Bebas Neue';
  font-size: 1.2rem;
}
.ContactMain{
  margin-top: -45px;
  background: #292F38;
  height: 750px;
}
.ContactMain h5,h6{
  color: #CACACA;
}

.EmailForm input,textarea{
  border-radius:1px;
  background:#343B47;
  border-top:0;
  border-right:0;
  border-left:0;
  border-color:#08FDD8;
  min-height:40px;
  caret-color:#08FDD8
}
.EmailForm textarea{
  background:#343B47;
  border-color:#08FDD8;
  border-radius:1px;
  border-top:0;
  border-right:0;
  border-left:0;
  min-height: 150px;
}

.submitbtn{
  border:1.1px solid #08FDD8;
  color:#CACACA;
  border-radius:2px;
  font-weight:bold;
  cursor:pointer;
  transition: .4s;

}
.submitbtn:hover{
  background-color: #08FDD8;
  color:black;
  transform: scale(1.05);
  border-color: #08FDD8;
  box-shadow:0px 0px 20px #08FDD8;
}
.m-0{
  color: #CACACA;
}
